@charset "UTF-8";

/*
	Create a custom layout by definig a SASS map.
	Can be called later using the 'layout' mixin.
	Ex. $my_layout: custom-layout(10, 1400px, 3em);
*/

@function custom-layout($columns, $container, $gutter) {
	$container: check-unit($container);
	$custom_layout: (
		columns: $columns,
		container: $container,
		gutter: $gutter,
	);
	@return $custom_layout;
}