@charset "UTF-8";

/*
	Define our default breakpoints.
	Because we are coding mobile first, the variable below represents the minimum threshold of each breakpoint.
	These may be overridden manually.
*/

$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1400px !default;