@charset "UTF-8";

/*
	Columns functionality.
	Ex. @include columns(6 of 12).
*/

@mixin columns($span: $columns of $container-columns) {
	float: left;
	margin-left: $gutter;

	$offset_factor: $gutter / nth($span, 3);
	$compensate: $offset_factor * nth($span, 1);
	$width_percent: percentage((nth($span, 1) / nth($span, 3)));
	$computed_gutter: $gutter + $compensate;
	width: calc(#{$width_percent} - #{$computed_gutter});
	
	&:first-child {
		margin-left: 0;
	}
}