@charset "UTF-8";

/*
	Columns functionality.
	Ex. @include columns(6);
*/

@mixin columns($span) {
	float: left;

	$offset_factor: map-get($grid, gutter) / map-get($grid, columns);
	$compensate: $offset_factor * $span;
	$width_percent: percentage($span / map-get($grid, columns));
	$computed_gutter: map-get($grid, gutter) - $compensate;

	width: calc(#{$width_percent} - #{$computed_gutter});
	
	$no_margin: map-get($grid, columns) / $span;

	&:nth-child(n) { margin-right: map-get($grid, gutter); }

	@if round($no_margin) == $no_margin {
		&:nth-child(#{$no_margin}) {
			margin-right: 0;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}