@charset "UTF-8";

/*
	Mixin for content container.
	Ex. @include container(1200px);
	If no width is specified, the default container value will be used.
*/

@mixin container($width: null) {
	margin: auto;
	@if $width {
		max-width: check-unit($width);
	}
	@else {
		max-width: check-unit(map-get($grid, container));
	}
}