@charset "UTF-8";

/*
	Mixin for content container.
	Ex. @include container(1200px);
	If no width is specified, the default $container value will be used.
*/

@mixin container($width: null) {
	margin-left: auto;
	margin-right: auto;
	@if $width {
		$width: check-unit($width);
		max-width: $width;
	}
	@else {
		max-width: check-unit($container);
	}
}