@charset "UTF-8";

/*
	Offset column functionality.
	Ex. @include offset(6);
	Should be used in combination with columns mixin.
*/

@mixin offset($offset) {
	$offset_factor: map-get($grid, gutter) / map-get($grid, columns);
	$compensate: $offset_factor * $offset;
	$offset_percent: percentage($offset / map-get($grid, columns));

	margin-left: calc(#{$offset_percent} + #{compensate});
}