@charset "UTF-8";

/*
	Mixin for row that wraps columns.
	Provides clearfix after class, as well as position for push/pull.
*/

@mixin row() {
	&:after {
		clear: both;
		content: "";
		display: block;
		position: relative;
	}
}